# Fundamentos de Python - Guía Completa

Este notebook explica detalladamente los conceptos fundamentales de Python basados en los scripts del directorio `src/basics/`. 

## Contenido del Notebook

1. **Variables y Entrada de Usuario**
2. **Listas (Lists)**
3. **Diccionarios (Dictionaries)**
4. **Sets (Conjuntos)**
5. **Tuplas (Tuples)**
6. **Ciclos (Loops)**
7. **Funciones**
8. **Condicionales**
9. **Ejercicios Prácticos**

---

## 1. Variables y Entrada de Usuario

Las variables en Python son contenedores que almacenan datos. Python es un lenguaje de tipado dinámico, lo que significa que no necesitas declarar el tipo de variable explícitamente.

In [1]:
# Ejemplo básico de variables
nombre = "Wilmar"
edad = 30
altura = 1.75
es_estudiante = True

print(f"Nombre: {nombre}")
print(f"Edad: {edad}")
print(f"Altura: {altura}")
print(f"Es estudiante: {es_estudiante}")

# Verificar tipos de datos
print(f"Tipo de nombre: {type(nombre)}")
print(f"Tipo de edad: {type(edad)}")
print(f"Tipo de altura: {type(altura)}")
print(f"Tipo de es_estudiante: {type(es_estudiante)}")

Nombre: Wilmar
Edad: 30
Altura: 1.75
Es estudiante: True
Tipo de nombre: <class 'str'>
Tipo de edad: <class 'int'>
Tipo de altura: <class 'float'>
Tipo de es_estudiante: <class 'bool'>

In [2]:

# Solicitar nombre al usuario

print("Hola " + nombre)

# Solicitar edad y determinar si es mayor de edad
edad = 30

if edad >= 18:
    print("Eres mayor de edad")
else:
    print("Eres menor de edad")
print("Fin del programa")

Hola Wilmar
Eres mayor de edad
Fin del programa

## 2. Listas (Lists)

Las listas son estructuras de datos que permiten almacenar múltiples elementos en una secuencia ordenada. Son mutables, lo que significa que puedes modificar su contenido después de crearlas.

In [3]:
# Creación de listas - Basado en listas.py
nombres = ["Wilmar", "Andrea", "Herney"]
print("Estos son mis amigos:", nombres)

# Crear listas de números
num10_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num11_20 = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

print(f"Números del 1 al 10: {num10_1}")
print(f"Números del 11 al 20: {num11_20}")

# Diferentes formas de crear listas
num10_2 = list(range(1, 11))  # Usando range()
print(f"Usando range(): {num10_2}")

# List comprehension (más avanzado)
num10_3 = [num for num in range(1, 11)]
print(f"List comprehension: {num10_3}")

Estos son mis amigos: ['Wilmar', 'Andrea', 'Herney']
Números del 1 al 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Números del 11 al 20: [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Usando range(): [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List comprehension: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Operaciones con listas
print("=== OPERACIONES CON LISTAS ===")

# Acceder a elementos por índice
print(f"Primer elemento: {nombres[0]}")
print(f"Último elemento: {nombres[-1]}")

# Modificar elementos (las listas son mutables)
nombres[0] = "Wilmar Sebastián"
print(f"Después de modificar: {nombres}")

# Agregar elementos
nombres.append("María")
print(f"Después de agregar: {nombres}")

# Insertar en posición específica
nombres.insert(1, "Carlos")
print(f"Después de insertar: {nombres}")

# Eliminar elementos
nombres.remove("Carlos")
print(f"Después de eliminar: {nombres}")

# Longitud de la lista
print(f"Número de elementos: {len(nombres)}")

=== OPERACIONES CON LISTAS ===
Primer elemento: Wilmar
Último elemento: Herney
Después de modificar: ['Wilmar Sebastián', 'Andrea', 'Herney']
Después de agregar: ['Wilmar Sebastián', 'Andrea', 'Herney', 'María']
Después de insertar: ['Wilmar Sebastián', 'Carlos', 'Andrea', 'Herney', 'María']
Después de eliminar: ['Wilmar Sebastián', 'Andrea', 'Herney', 'María']
Número de elementos: 4

## 3. Diccionarios (Dictionaries)

Los diccionarios son estructuras de datos que almacenan pares clave-valor. Son muy útiles para organizar información relacionada y permiten acceso rápido por clave.

In [5]:
# Creación y uso de diccionarios - Basado en diccionarios.py
edades_amigos = {
    "wilmar": 30,
    "jennyfer": 28,
    "herney": 35
}

print("Diccionario de edades:", edades_amigos)
print("La edad de Wilmar es:", edades_amigos["wilmar"])

# Acceder a valores
print(f"Edad de Jennyfer: {edades_amigos['jennyfer']}")

# Agregar nuevos elementos
edades_amigos["maria"] = 25
print("Después de agregar María:", edades_amigos)

# Modificar valores existentes
edades_amigos["wilmar"] = 31
print("Después de actualizar edad de Wilmar:", edades_amigos)

Diccionario de edades: {'wilmar': 30, 'jennyfer': 28, 'herney': 35}
La edad de Wilmar es: 30
Edad de Jennyfer: 28
Después de agregar María: {'wilmar': 30, 'jennyfer': 28, 'herney': 35, 'maria': 25}
Después de actualizar edad de Wilmar: {'wilmar': 31, 'jennyfer': 28, 'herney': 35, 'maria': 25}

In [6]:
# Operaciones avanzadas con diccionarios
print("=== OPERACIONES CON DICCIONARIOS ===")

# Obtener todas las claves
print("Claves del diccionario:", list(edades_amigos.keys()))

# Obtener todos los valores
print("Valores del diccionario:", list(edades_amigos.values()))

# Obtener pares clave-valor
print("Pares clave-valor:", list(edades_amigos.items()))

# Calcular promedio de edades
suma_edades = sum(edades_amigos.values())
promedio = suma_edades / len(edades_amigos)
print(f"Promedio de edades: {promedio:.2f}")

# Verificar si una clave existe
if "wilmar" in edades_amigos:
    print("Wilmar está en el diccionario")
else:
    print("Wilmar no está en el diccionario")

# Eliminar un elemento
del edades_amigos["maria"]
print("Después de eliminar María:", edades_amigos)

=== OPERACIONES CON DICCIONARIOS ===
Claves del diccionario: ['wilmar', 'jennyfer', 'herney', 'maria']
Valores del diccionario: [31, 28, 35, 25]
Pares clave-valor: [('wilmar', 31), ('jennyfer', 28), ('herney', 35), ('maria', 25)]
Promedio de edades: 29.75
Wilmar está en el diccionario
Después de eliminar María: {'wilmar': 31, 'jennyfer': 28, 'herney': 35}

## 4. Sets (Conjuntos)

Los sets son colecciones de elementos únicos sin orden específico. Son muy útiles para operaciones matemáticas como unión, intersección y diferencia.

In [7]:
# Creación y operaciones con sets - Basado en sets.py
num_1_10_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
num_pares_set = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

print("Set del 1 al 10:", num_1_10_set)
print("Set de números pares:", num_pares_set)
print("Tipo de datos:", type(num_1_10_set))

# Operaciones con sets
print("\n=== OPERACIONES CON SETS ===")

# Unión (elementos que están en cualquiera de los dos sets)
union = num_1_10_set | num_pares_set
print(f"Unión: {union}")

# Intersección (elementos que están en ambos sets)
interseccion = num_1_10_set & num_pares_set
print(f"Intersección: {interseccion}")

# Diferencia (elementos que están en el primer set pero no en el segundo)
diferencia1 = num_1_10_set - num_pares_set
print(f"Diferencia (1-10) - pares: {diferencia1}")

diferencia2 = num_pares_set - num_1_10_set
print(f"Diferencia pares - (1-10): {diferencia2}")

Set del 1 al 10: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set de números pares: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
Tipo de datos: <class 'set'>

=== OPERACIONES CON SETS ===
Unión: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}
Intersección: {2, 4, 6, 8, 10}
Diferencia (1-10) - pares: {1, 3, 5, 7, 9}
Diferencia pares - (1-10): {12, 14, 16, 18, 20}

In [8]:
# Más operaciones con sets
print("=== MÁS OPERACIONES CON SETS ===")

# Agregar elementos
num_1_10_set.add(11)
print("Después de agregar 11:", num_1_10_set)

# Eliminar elementos
num_1_10_set.remove(11)
print("Después de eliminar 11:", num_1_10_set)

# Verificar si un elemento está en el set
print(f"¿Está el 5 en el set? {5 in num_1_10_set}")
print(f"¿Está el 15 en el set? {15 in num_1_10_set}")

# Longitud del set
print(f"Número de elementos en el set: {len(num_1_10_set)}")

# Crear set desde una lista (elimina duplicados)
lista_con_duplicados = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
set_sin_duplicados = set(lista_con_duplicados)
print(f"Lista original: {lista_con_duplicados}")
print(f"Set sin duplicados: {set_sin_duplicados}")

=== MÁS OPERACIONES CON SETS ===
Después de agregar 11: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
Después de eliminar 11: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
¿Está el 5 en el set? True
¿Está el 15 en el set? False
Número de elementos en el set: 10
Lista original: [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
Set sin duplicados: {1, 2, 3, 4}

## 5. Tuplas (Tuples)

Las tuplas son similares a las listas, pero son **inmutables**, lo que significa que no puedes modificar su contenido después de crearlas. Son útiles para almacenar datos que no deben cambiar.

In [9]:
# Comparación entre tuplas y listas - Basado en tuplas.py
print("=== COMPARACIÓN ENTRE TUPLAS Y LISTAS ===")

# Crear una tupla
num10_1_tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(f"Tupla: {num10_1_tupla}")
print(f"Tipo de tupla: {type(num10_1_tupla)}")

# Crear una lista equivalente
num10_1_lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(f"Lista: {num10_1_lista}")
print(f"Tipo de lista: {type(num10_1_lista)}")

# Intentar modificar la tupla (esto causará un error)
try:
    num10_1_tupla[0] = 100  # Esto fallará
    print("Modificación exitosa en tupla")
except TypeError as e:
    print(f"Error al modificar tupla: {e}")

# Modificar la lista (esto funcionará)
num10_1_lista[0] = 100
print(f"Lista después de modificar: {num10_1_lista}")
print(f"Tupla permanece igual: {num10_1_tupla}")

=== COMPARACIÓN ENTRE TUPLAS Y LISTAS ===
Tupla: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tipo de tupla: <class 'tuple'>
Lista: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Tipo de lista: <class 'list'>
Error al modificar tupla: 'tuple' object does not support item assignment
Lista después de modificar: [100, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Tupla permanece igual: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
# Operaciones con tuplas
print("=== OPERACIONES CON TUPLAS ===")

# Acceder a elementos
print(f"Primer elemento de la tupla: {num10_1_tupla[0]}")
print(f"Último elemento de la tupla: {num10_1_tupla[-1]}")

# Slicing (rebanado)
print(f"Primeros 3 elementos: {num10_1_tupla[:3]}")
print(f"Últimos 3 elementos: {num10_1_tupla[-3:]}")

# Contar elementos
print(f"Número de elementos: {len(num10_1_tupla)}")

# Verificar si un elemento está en la tupla
print(f"¿Está el 5 en la tupla? {5 in num10_1_tupla}")

# Contar ocurrencias
tupla_con_repeticiones = (1, 2, 2, 3, 3, 3)
print(f"Tupla con repeticiones: {tupla_con_repeticiones}")
print(f"Número de veces que aparece el 2: {tupla_con_repeticiones.count(2)}")

# Encontrar índice de un elemento
print(f"Índice del número 3: {tupla_con_repeticiones.index(3)}")

=== OPERACIONES CON TUPLAS ===
Primer elemento de la tupla: 1
Último elemento de la tupla: 10
Primeros 3 elementos: (1, 2, 3)
Últimos 3 elementos: (8, 9, 10)
Número de elementos: 10
¿Está el 5 en la tupla? True
Tupla con repeticiones: (1, 2, 2, 3, 3, 3)
Número de veces que aparece el 2: 2
Índice del número 3: 3

## 6. Ciclos (Loops)

Los ciclos permiten repetir bloques de código. Python tiene dos tipos principales: `for` y `while`. Los ciclos `for` son especialmente útiles para iterar sobre secuencias.

In [11]:
# Ciclo for básico - Basado en ciclos.py
print("=== CICLO FOR BÁSICO ===")

# Iterar sobre una cadena
nombre = "wilmar"
print("Iterando sobre cada letra:")
for letra in nombre:
    print("=" * 32)
    print(letra)

# Iterar sobre un rango de números
print("\nIterando sobre rango 0-9:")
for i in range(10):
    print(i)

# Iterar sobre un rango específico
print("\nIterando sobre rango 5-9:")
for num in range(5, 10):
    print(num)

=== CICLO FOR BÁSICO ===
Iterando sobre cada letra:
================================
w
================================
i
================================
l
================================
m
================================
a
================================
r

Iterando sobre rango 0-9:
0
1
2
3
4
5
6
7
8
9

Iterando sobre rango 5-9:
5
6
7
8
9

In [12]:
# Ciclo for con condicionales
print("=== CICLO FOR CON CONDICIONALES ===")

# Iterar sobre una lista y aplicar condiciones
num10_1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print("Números pares del 1 al 10:")
for num in num10_1:
    if num % 2 == 0:
        print(f"{num} es par")
    else:
        print(f"Error, el número {num} no es par")

=== CICLO FOR CON CONDICIONALES ===
Números pares del 1 al 10:
Error, el número 1 no es par
2 es par
Error, el número 3 no es par
4 es par
Error, el número 5 no es par
6 es par
Error, el número 7 no es par
8 es par
Error, el número 9 no es par
10 es par

In [13]:
# Iterar sobre diccionarios
print("=== ITERAR SOBRE DICCIONARIOS ===")

edades_amigos = {
    "wilmar": 30,
    "jennyfer": 28,
    "herney": 35
}

# Iterar sobre pares clave-valor
print("Iterando sobre pares clave-valor:")
for amigo, edad in edades_amigos.items():
    print(f"Mi amigo {amigo} tiene {edad} años")

# Iterar solo sobre valores
print("\nIterando sobre valores:")
print("Valores:", list(edades_amigos.values()))

# Calcular promedio de edades
suma = 0
for edad in edades_amigos.values():
    suma = suma + edad
promedio = suma / len(edades_amigos)
print(f"Promedio de edades: {promedio}")

# Usando numpy para calcular promedio (como en el script original)
import numpy as np
print("Promedio usando numpy:", np.mean(list(edades_amigos.values())))

=== ITERAR SOBRE DICCIONARIOS ===
Iterando sobre pares clave-valor:
Mi amigo wilmar tiene 30 años
Mi amigo jennyfer tiene 28 años
Mi amigo herney tiene 35 años

Iterando sobre valores:
Valores: [30, 28, 35]
Promedio de edades: 31.0
Promedio usando numpy: 31.0

## 7. Funciones

Las funciones son bloques de código reutilizables que realizan una tarea específica. Permiten organizar el código y evitar repetición.

In [14]:
# Función para encontrar el máximo - Basado en funciones.py y utils.py
def maximo(lista):
    """
    Encuentra el valor máximo en una lista.
    
    Args:
        lista: Lista de números
        
    Returns:
        El valor máximo de la lista
    """
    max_val = lista[0]
    for num in lista:
        print(f"Probando con {num}")
        if num > max_val:
            max_val = num
        print(f"Hasta ahora el máximo es: {max_val}")
    return max_val

# Usar la función
num11_20 = [11, 12, 13, 8, 2, 1, 100]
max_val = maximo(num11_20)
print(f"El valor máximo es: {max_val}")

Probando con 11
Hasta ahora el máximo es: 11
Probando con 12
Hasta ahora el máximo es: 12
Probando con 13
Hasta ahora el máximo es: 13
Probando con 8
Hasta ahora el máximo es: 13
Probando con 2
Hasta ahora el máximo es: 13
Probando con 1
Hasta ahora el máximo es: 13
Probando con 100
Hasta ahora el máximo es: 100
El valor máximo es: 100

In [15]:
# Más ejemplos de funciones
print("=== MÁS EJEMPLOS DE FUNCIONES ===")

def saludar(nombre):
    """Función simple que saluda a una persona."""
    return f"¡Hola {nombre}!"

def calcular_promedio(numeros):
    """Calcula el promedio de una lista de números."""
    if len(numeros) == 0:
        return 0
    return sum(numeros) / len(numeros)

def es_par(numero):
    """Determina si un número es par."""
    return numero % 2 == 0

# Usar las funciones
print(saludar("Wilmar"))

numeros = [1, 2, 3, 4, 5]
promedio = calcular_promedio(numeros)
print(f"Promedio de {numeros}: {promedio}")

print(f"¿Es 4 par? {es_par(4)}")
print(f"¿Es 7 par? {es_par(7)}")

=== MÁS EJEMPLOS DE FUNCIONES ===
¡Hola Wilmar!
Promedio de [1, 2, 3, 4, 5]: 3.0
¿Es 4 par? True
¿Es 7 par? False

## 8. Condicionales

Los condicionales permiten que el programa tome decisiones basadas en condiciones. La estructura básica es `if`, `elif` y `else`.

In [16]:
# Condicionales básicos - Basado en edad.py
print("=== CONDICIONALES BÁSICOS ===")

# Ejemplo simple de if-else
edad = 20  # Puedes cambiar este valor para probar

if edad >= 18:
    print("Eres mayor de edad")
else:
    print("Eres menor de edad")

# Condicionales más complejos
print("\n=== CONDICIONALES MÁS COMPLEJOS ===")

def clasificar_edad(edad):
    """Clasifica una edad en diferentes categorías."""
    if edad < 0:
        return "Edad inválida"
    elif edad < 13:
        return "Niño"
    elif edad < 20:
        return "Adolescente"
    elif edad < 60:
        return "Adulto"
    else:
        return "Adulto mayor"

# Probar la función con diferentes edades
edades_prueba = [5, 15, 25, 65, -1]
for edad in edades_prueba:
    print(f"Edad {edad}: {clasificar_edad(edad)}")

=== CONDICIONALES BÁSICOS ===
Eres mayor de edad

=== CONDICIONALES MÁS COMPLEJOS ===
Edad 5: Niño
Edad 15: Adolescente
Edad 25: Adulto
Edad 65: Adulto mayor
Edad -1: Edad inválida

In [17]:
# Operadores de comparación y lógicos
print("=== OPERADORES DE COMPARACIÓN ===")

# Operadores de comparación
a = 10
b = 20

print(f"a = {a}, b = {b}")
print(f"a == b: {a == b}")  # Igual
print(f"a != b: {a != b}")  # Diferente
print(f"a < b: {a < b}")     # Menor que
print(f"a > b: {a > b}")     # Mayor que
print(f"a <= b: {a <= b}")   # Menor o igual
print(f"a >= b: {a >= b}")   # Mayor o igual

# Operadores lógicos
print("\n=== OPERADORES LÓGICOS ===")
x = True
y = False

print(f"x = {x}, y = {y}")
print(f"x and y: {x and y}")  # Y lógico
print(f"x or y: {x or y}")     # O lógico
print(f"not x: {not x}")       # Negación

# Ejemplo práctico
edad = 25
tiene_licencia = True

if edad >= 18 and tiene_licencia:
    print("Puede conducir")
else:
    print("No puede conducir")

=== OPERADORES DE COMPARACIÓN ===
a = 10, b = 20
a == b: False
a != b: True
a < b: True
a > b: False
a <= b: True
a >= b: False

=== OPERADORES LÓGICOS ===
x = True, y = False
x and y: False
x or y: True
not x: False
Puede conducir

## 9. Ejercicios Prácticos

Ahora vamos a practicar con ejercicios que combinan todos los conceptos aprendidos.

In [18]:
# Ejercicio 1: Sistema de gestión de estudiantes
print("=== EJERCICIO 1: SISTEMA DE GESTIÓN DE ESTUDIANTES ===")

# Crear un diccionario con información de estudiantes
estudiantes = {
    "Ana": {"edad": 20, "notas": [85, 90, 78, 92]},
    "Carlos": {"edad": 22, "notas": [76, 88, 91, 85]},
    "María": {"edad": 19, "notas": [92, 87, 89, 94]},
    "Luis": {"edad": 21, "notas": [78, 82, 85, 88]}
}

def calcular_promedio_estudiante(notas):
    """Calcula el promedio de notas de un estudiante."""
    return sum(notas) / len(notas)

def clasificar_rendimiento(promedio):
    """Clasifica el rendimiento basado en el promedio."""
    if promedio >= 90:
        return "Excelente"
    elif promedio >= 80:
        return "Bueno"
    elif promedio >= 70:
        return "Regular"
    else:
        return "Necesita mejorar"

# Analizar cada estudiante
print("Análisis de estudiantes:")
for nombre, datos in estudiantes.items():
    promedio = calcular_promedio_estudiante(datos["notas"])
    rendimiento = clasificar_rendimiento(promedio)
    print(f"{nombre}: Promedio {promedio:.1f} - {rendimiento}")

=== EJERCICIO 1: SISTEMA DE GESTIÓN DE ESTUDIANTES ===
Análisis de estudiantes:
Ana: Promedio 86.2 - Bueno
Carlos: Promedio 85.0 - Bueno
María: Promedio 90.5 - Excelente
Luis: Promedio 83.2 - Bueno

In [19]:
# Ejercicio 2: Análisis de datos con listas y sets
print("\n=== EJERCICIO 2: ANÁLISIS DE DATOS ===")

# Lista de ventas por mes
ventas_enero = [100, 150, 200, 120, 180, 250, 300, 220, 180, 200, 250, 300]
ventas_febrero = [120, 180, 220, 150, 200, 280, 320, 240, 200, 220, 280, 320]

# Encontrar días con ventas altas (mayores a 250)
def encontrar_ventas_altas(ventas, umbral=250):
    """Encuentra días con ventas por encima del umbral."""
    dias_altas = []
    for i, venta in enumerate(ventas):
        if venta > umbral:
            dias_altas.append(i + 1)  # +1 porque los días empiezan en 1
    return dias_altas

# Análisis de ventas
print("Análisis de ventas:")
print(f"Ventas enero: {ventas_enero}")
print(f"Ventas febrero: {ventas_febrero}")

print(f"\nDías con ventas altas en enero: {encontrar_ventas_altas(ventas_enero)}")
print(f"Días con ventas altas en febrero: {encontrar_ventas_altas(ventas_febrero)}")

# Calcular estadísticas
def calcular_estadisticas(ventas):
    """Calcula estadísticas básicas de ventas."""
    return {
        "total": sum(ventas),
        "promedio": sum(ventas) / len(ventas),
        "maximo": max(ventas),
        "minimo": min(ventas)
    }

stats_enero = calcular_estadisticas(ventas_enero)
stats_febrero = calcular_estadisticas(ventas_febrero)

print(f"\nEstadísticas enero: {stats_enero}")
print(f"Estadísticas febrero: {stats_febrero}")

=== EJERCICIO 2: ANÁLISIS DE DATOS ===
Análisis de ventas:
Ventas enero: [100, 150, 200, 120, 180, 250, 300, 220, 180, 200, 250, 300]
Ventas febrero: [120, 180, 220, 150, 200, 280, 320, 240, 200, 220, 280, 320]

Días con ventas altas en enero: [7, 12]
Días con ventas altas en febrero: [6, 7, 11, 12]

Estadísticas enero: {'total': 2450, 'promedio': 204.16666666666666, 'maximo': 300, 'minimo': 100}
Estadísticas febrero: {'total': 2730, 'promedio': 227.5, 'maximo': 320, 'minimo': 120}

In [20]:
# Ejercicio 3: Juego de adivinanza
print("\n=== EJERCICIO 3: JUEGO DE ADIVINANZA ===")

import random

def juego_adivinanza():
    """Juego simple de adivinanza de números."""
    numero_secreto = random.randint(1, 100)
    intentos = 0
    max_intentos = 7
    
    print("¡Bienvenido al juego de adivinanza!")
    print("He pensado en un número entre 1 y 100")
    print(f"Tienes {max_intentos} intentos para adivinarlo")
    
    while intentos < max_intentos:
        try:
            guess = int(input(f"Intento {intentos + 1}: Ingresa tu número: "))
            intentos += 1
            
            if guess == numero_secreto:
                print(f"¡Felicitaciones! Adivinaste en {intentos} intentos")
                return True
            elif guess < numero_secreto:
                print("El número es mayor")
            else:
                print("El número es menor")
                
        except ValueError:
            print("Por favor ingresa un número válido")
            intentos -= 1  # No contar este intento inválido
    
    print(f"¡Se acabaron los intentos! El número era {numero_secreto}")
    return False

# Descomenta la siguiente línea para jugar
# juego_adivinanza()

=== EJERCICIO 3: JUEGO DE ADIVINANZA ===

## 10. Introducción a Pandas

## Series

In [2]:
import pandas as pd
import numpy as np

In [4]:
lista = [1, 2, 3, 4, 5]
serie_lista = pd.Series(lista)

In [6]:
lista

[1, 2, 3, 4, 5]

In [ ]:
# elevar al cuadrado
serie_lista ** 2

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [ ]:
# miltipicacion
serie_lista * 2

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [ ]:
# suma
serie_lista.sum()

np.int64(15)

In [23]:
serie_lista.mean()

np.float64(3.0)

In [24]:
serie_lista.median()

np.float64(3.0)

In [26]:
serie_lista.std() # Comprobar que tipo de varianza esta calculando

np.float64(1.5811388300841898)

In [12]:
type(lista)

list

In [11]:
type(serie_lista)

pandas.core.series.Series

## DataFrames

In [45]:
# JSON o una base de datos no relacional (ejemplo tipo MongoDB)
datos = {
    "Nombre": [
        "Ana", "Luis", "Carlos", "Marta", 
        "Carlos", "Sofía", "Carlos", "Andrés", 
        "Laura", "Carlos", "Felipe", "Carolina"
    ],
    "Edad": [
        23, 35, 42, 29, 
        38, 27, 45, 33, 
        31, 40, 26, 30
    ],
    "Ciudad": [
        "Bogotá", "Medellín", "Cali", "Barranquilla",
        "Bogotá", "Cali", "Medellín", "Bogotá",
        "Cartagena", "Cali", "Manizales", "Bucaramanga"
    ]
}

In [46]:
df = pd.DataFrame(datos)

In [47]:
df

      Nombre  Edad        Ciudad
0        Ana    23        Bogotá
1       Luis    35      Medellín
2     Carlos    42          Cali
3      Marta    29  Barranquilla
4     Carlos    38        Bogotá
5      Sofía    27          Cali
6     Carlos    45      Medellín
7     Andrés    33        Bogotá
8      Laura    31     Cartagena
9     Carlos    40          Cali
10    Felipe    26     Manizales
11  Carolina    30   Bucaramanga

In [48]:
df["Edad"].mean()

np.float64(33.25)

In [49]:
df["Edad"].describe()

count    12.00000
mean     33.25000
std       6.85068
min      23.00000
25%      28.50000
50%      32.00000
75%      38.50000
max      45.00000
Name: Edad, dtype: float64

In [50]:
df.describe()

           Edad
count  12.00000
mean   33.25000
std     6.85068
min    23.00000
25%    28.50000
50%    32.00000
75%    38.50000
max    45.00000

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  12 non-null     object
 1   Edad    12 non-null     int64
 2   Ciudad  12 non-null     object
dtypes: int64(1), object(2)
memory usage: 420.0+ bytes

In [52]:
df['Edad'] = df['Edad'].astype(float)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  12 non-null     object
 1   Edad    12 non-null     float64
 2   Ciudad  12 non-null     object
dtypes: float64(1), object(2)
memory usage: 420.0+ bytes

In [57]:
## tradicional
df[(df['Nombre'] == "Carlos") & (df["Ciudad"] == "Cali") & (df["Edad"] > 40)]

   Nombre  Edad Ciudad
2  Carlos  42.0   Cali

In [58]:
df.query("Nombre == 'Carlos' & Ciudad == 'Cali' & Edad > 40")

   Nombre  Edad Ciudad
2  Carlos  42.0   Cali

In [59]:
min_edad = df["Edad"].min()
min_edad

np.float64(23.0)

In [61]:
df[df['Edad'] == min_edad]

  Nombre  Edad  Ciudad
0    Ana  23.0  Bogotá

In [62]:
df.query("Edad == @min_edad")

  Nombre  Edad  Ciudad
0    Ana  23.0  Bogotá

## Resumen y Próximos Pasos

### Lo que hemos aprendido:

1. **Variables y tipos de datos**: Cómo almacenar y trabajar con diferentes tipos de información
2. **Listas**: Colecciones ordenadas y mutables de elementos
3. **Diccionarios**: Estructuras clave-valor para organizar información
4. **Sets**: Colecciones de elementos únicos con operaciones matemáticas
5. **Tuplas**: Colecciones inmutables para datos que no cambian
6. **Ciclos**: Cómo repetir código con `for` y `while`
7. **Funciones**: Cómo crear código reutilizable
8. **Condicionales**: Cómo tomar decisiones en el código

### Próximos pasos recomendados:

- **Manejo de archivos**: Aprender a leer y escribir archivos
- **Manejo de errores**: Usar `try-except` para manejar errores
- **Módulos y paquetes**: Organizar código en múltiples archivos
- **Programación orientada a objetos**: Clases y objetos
- **Librerías especializadas**: NumPy, Pandas, Matplotlib para análisis de datos

### Recursos adicionales:

- [Documentación oficial de Python](https://docs.python.org/3/)
- [Python para Data Science](https://pandas.pydata.org/)
- [NumPy Tutorial](https://numpy.org/doc/stable/user/quickstart.html)

¡Felicitaciones por completar este tutorial de fundamentos de Python! 🎉