# Comencemos con la ciencia de datos

![Diagrama de Venn de las fuentes de datos](../assets/ds_venn.jpg)

In [2]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_excel('../data/bronze/car_raw.xlsx')
data.shape
data.head()

,product,price,link,years,kilometraje,_created,id,location_city,location_state
0,Byd Song Plus Dm-i 1.5 Hibrida Enchufable,183900000,https://carro.mercadolibre.com.co/MCO-14023610...,2024,5800,2024-03-14,1402361017,Suba,Bogotá D.C.
1,Mazda 3 2.0 Grand Touring,64900000,https://carro.mercadolibre.com.co/MCO-22614289...,2016,59000,2024-03-14,2261428954,Envigado,Antioquia
2,Chevrolet Tracker 1.8 Lt,72000000,https://carro.mercadolibre.com.co/MCO-14023596...,2018,47000,2024-03-14,1402359669,Usaquén,Bogotá D.C.
3,Kia Picanto 1.2 Vibrant,59500000,https://carro.mercadolibre.com.co/MCO-22614018...,2024,3600,2024-03-14,2261401840,Suba,Bogotá D.C.
4,Nissan X-trail 2.5 Kapital,63000000,https://carro.mercadolibre.com.co/MCO-22614783...,2015,81000,2024-03-14,2261478326,Kennedy,Bogotá D.C.