In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('../data/bronze/car_raw.xlsx')

In [4]:
data

,product,price,link,years,kilometraje,_created,vehicle_make,vehicle_line,id,location_city,location_state
0,Byd Song Plus Dm-i 1.5 Hibrida Enchufable,183900000,https://carro.mercadolibre.com.co/MCO-14023610...,2024,5800,2024-03-14,Byd,Song,1402361017,Suba,Bogotá D.C.
1,Mazda 3 2.0 Grand Touring,64900000,https://carro.mercadolibre.com.co/MCO-22614289...,2016,59000,2024-03-14,Mazda,3,2261428954,Envigado,Antioquia
2,Chevrolet Tracker 1.8 Lt,72000000,https://carro.mercadolibre.com.co/MCO-14023596...,2018,47000,2024-03-14,Chevrolet,Tracker,1402359669,Usaquén,Bogotá D.C.
3,Kia Picanto 1.2 Vibrant,59500000,https://carro.mercadolibre.com.co/MCO-22614018...,2024,3600,2024-03-14,Kia,Picanto,2261401840,Suba,Bogotá D.C.
4,Nissan X-trail 2.5 Kapital,63000000,https://carro.mercadolibre.com.co/MCO-22614783...,2015,81000,2024-03-14,Nissan,X-trail,2261478326,Kennedy,Bogotá D.C.
...,...,...,...,...,...,...,...,...,...,...,...
7245,Renault Duster 2.0 Dynamique 4x2,54000000,https://carro.mercadolibre.com.co/MCO-14353772...,2016,88062,2024-06-11,Renault,Duster,1435377249,Suba,Bogotá D.C.
7246,Toyota Corolla Cross 1.8 At Hibrida 4x2,127000000,https://carro.mercadolibre.com.co/MCO-14354156...,2022,33800,2024-06-11,Toyota,Corolla,1435415665,Mosquera,Cundinamarca
7247,Honda Civic 1.8 Lx,26000000,https://carro.mercadolibre.com.co/MCO-14353251...,2006,150000,2024-06-11,Honda,Civic,1435325157,Usaquén,Bogotá D.C.
7248,Kia Cerato Forte 1.6 Sx,40000000,https://carro.mercadolibre.com.co/MCO-14353369...,2012,75000,2024-06-11,Kia,Cerato,1435336985,Bosa,Bogotá D.C.
7249,Nissan Np300 Frontier 2.4l Mt 4x2,57000000,https://carro.mercadolibre.com.co/MCO-14353112...,2011,202000,2024-06-11,Nissan,Np300,1435311215,Engativa,Bogotá D.C.